In [ ]:
tuple1 = (10, 20, 30, 40, 50)

rev_tuple = tuple1[::-1]
print(rev_tuple)

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

tuple_val = tuple1[1][1]
print(tuple_val)

In [ ]:
t1 = (50)

print(t1)

In [ ]:
tuple1 = (10, 20, 30, 40)

a , b, c, d = tuple1

print(a)
print(b)
print(c)
print(d)
# print(e)

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

t = tuple1
print(t)
tuple1 = tuple2
tuple2 = t
print(tuple1)
print(tuple2)

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

In [ ]:
a= 1
b= 2
a, b = b, a

print(a)
print(b)

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)

new_tuple= tuple1[3:5]
print(new_tuple)

In [ ]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0] = 222
tuple1[0] = 111
print(tuple1)

In [ ]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

print(tuple1)
list1 = []
smallest_no = 23
new_tuple1 = tuple()
for i, j in tuple1:
 list1.append(j)

list1.sort()
for element in list1:
    for item in tuple1:
        # print((item))
        if element in item:
           new_tuple1 += tuple(item)
print(list1)
print(new_tuple1)
print(t)

In [ ]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

In [ ]:
list1 = [11, 23, 29, 37]
sorted(list1,)
print(list1)

In [67]:
tuple1 = (45, 45, 45, 45)

tuple1.index(45)
first_element = tuple1[0]
for element in tuple1:
    print(element)
    if element == first_element:
        continue
    else:
        break
else:
    print('tuple has all emenents same')

45
45
45
45
tuple has all emenents same

In [74]:
def check(t):
    return all(i==t[0] for i in t )

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True