In [1]:
# create a set using {}
# set of mixed types intger, string, and floats
sample_set = {'Mark', 'Jessa', 25, 75.25, 25}
sample_list = list(sample_set)
print(sample_set)
# Output {25, 'Mark', 75.25, 'Jessa'}

# create a set using set constructor
# set of strings
book_set = set(("Harry Potter", "Angels and Demons", "Atlas Shrugged"))
print(book_set)
# output {'Harry Potter', 'Atlas Shrugged', 'Angels and Demons'}

print(type(book_set))
# Output class 'set'

{25, 75.25, 'Mark', 'Jessa'}
{'Harry Potter', 'Angels and Demons', 'Atlas Shrugged'}
<class 'set'>

In [9]:
# creating an array containing same
# data type elements
import array

sample_array = array.array('i', [1, 2, 3])

# accessing elements of array
print(sample_array[0])
# for i in sample_array:
# 	print(i)
sample_array.pop(0)
print(sample_array)
sample_array.append(8)
print(sample_array)

1
array('i', [2, 3])
array('i', [2, 3, 8])

In [12]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(len(set1.union(set2)))

6

In [3]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

# for element in sample_list:
#     sample_set.update(element)
sample_set.update(sample_list)
print(sample_set)

{'Blue', 'Orange', 'Yellow', 'Green', 'Red', 'Black'}

In [7]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

new_set = set1.intersection(set2)

print(new_set)

new_set1 = set1.union(set2)

print(new_set1)

{40, 50, 30}
{70, 40, 10, 50, 20, 60, 30}

In [15]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

new_set = set1 - set2
print(new_set)

new_set2 = set1.difference_update(set2)

print(new_set2)
print(set1)

{10, 30}
None
{10, 30}

In [19]:
set1 = {10, 20, 30, 40, 50}

set1.difference_update({10,20,30})

print(set1)

{50, 40}

In [20]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

new_set = set1.symmetric_difference(set2)
print(new_set)

{20, 70, 10, 60}

In [24]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.intersection(set2):
    print(f"Sets have common element: {set1.intersection(set2)}")
else:
    print("Sets does'nt have common element:")

Sets have common element: {10}

In [26]:
if set1.isdisjoint(set2):
    print("Dos't have common element:")
else:
    print(f"Sets have common elements: {set1.intersection(set2)}")

Sets have common elements: {10}

In [27]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)

print(set1)

{20, 70, 10, 60}

In [28]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)

print(set1)

{40, 50, 30}